<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House Specifications</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Neighborhood</h1>
        <div class="neigh-table">
            <table>
                <tr>
                    <th>Attribute</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td>Number of Schools</td>
                    <td>{{ data.schools }}</td>
                </tr>
                <tr>
                    <td>Airport distance (mi)</td>
                    <td>{{ data.airportDist }}</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
