<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House Prices</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>House Prices</h1>
        <ul class="advert-list">
            {% for advert in adverts %}
                <li class="advert-item">
                    <h2>Advert ID: {{ advert.id }}</h2>
                    <h3>Price: ${{ advert.Price }}</h3>
                    <p><a href="http://127.0.0.1:5004/specs/{{advert.id}}">House Specs</a></p>
                    <p><a href="http://127.0.0.1:5000/business/{{advert.id}}">Views</a></p>
                    <p><a href="http://127.0.0.1:5001/geoloc/{{advert.id}}">GeoLocation</a></p>
                    <p><a href="http://127.0.0.1:5002/neighbor/{{advert.id}}">Neighborhood</a></p>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
